{% if not user.is_authenticated %}
    <span class="action-icons"> <a
            href="#login_require" data-toggle="modal" data-abc="true"><i class="fa fa-thumbs-up"><span
            class="m-2">{{ comment.like.count }}</span> </i></a> <a
            data-abc="true" href="#login_require" data-toggle="modal"><i
            class="fa fa-thumbs-down"><span
            class="m-2">{{ comment.dislike.count }}</span> </i></a></span>
{% else %}
    <span class="action-icons"> <a
            href="#" data-abc="true"><i class="fa fa-thumbs-up"><span
            class="m-2">{{ comment.like.count }}</span> </i></a> <a
            data-abc="true" href="#"><i
            class="fa fa-thumbs-down"><span
            class="m-2">{{ comment.dislike.count }}</span> </i></a></span>
{% endif %}
