<!-- Modal -->
<div class="modal fade" id="login_require" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                به اکانت خود لاگین کنید تا همه چیز همیشه در دسترستان باشد.
            </div>
            <div class="modal-footer">
                <a href="{% url 'login' %}" class="btn btn-primary" role="button">ورود </a>
            </div>
        </div>
    </div>
</div>