{% load bootstrap %}
<div class="modal fade" id="search_por" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ورود</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="{% url 'blog:search_porefessional' %}" method="post" class="form" id="form_search">
                    {% csrf_token %}

                    {{ form|bootstrap }}

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>


            </div>

        </div>
    </div>
</div>