{% load static %}
{% load blog_extratags %}
<html lang="en">
<head>
    {% block link %}
        <meta charset="UTF-8">
        <title>LMS</title>
        <link rel="stylesheet" href="{% static "blog/css/base.css" %}">
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
              integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe"
              crossorigin="anonymous">
        <link href="http://fonts.googleapis.com/css?family=Calibri:400,300,700">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
    {% endblock %}
    {% block linkcss %}
    {% endblock %}

    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"
    ></script>
    <script src="{% static 'js/bootstrap.min.js' %}"
    ></script>

</head>
<body dir="rtl" style="height: 100vh">
{% csrf_token %}
{% block menu %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="/media/uploads/baner/programing.png" style="width: 50px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog:index' %}">خانه <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog:LatestPost' %}">جدیدترین پست‌ها</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'blog:PopularPost' %}">محبوب ترین پست ها</a>
                </li>

                {% if not user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}"> ورود</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'blog:enroll' %}"> ثبت نام</a>
                    </li>
                {% endif %}
                {% block main_category_dropdow_menu %}{% endblock %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            پنل کاربری
                            {% comment %} <img src="{{ user.user.photo.url }}" style="width: 30px;border-radius: 50%;">{% endcomment %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">
                                <div style="height:auto;width: auto;">
                                    <img class="card-header mb-50"
                                         src="{{ user.info.photo.url }}"
                                         style=";width: 30px;border-radius: 50%;padding: 0">
                                    <span class="card-title"
                                          style="font-size: 10px;"> {{ user.first_name|add:" "|add:user.last_name }}</span>


                            </a>

                            {% if 'blog.add_post' in perms %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'admin:index' %}">پنل مدیریت</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'blog:log_out' %}">خروج</a>
                        </div>
                    </li>


                {% endif %}

            <li class="nav-item active">
                    <a class="nav-link" id="form_search" href="#search_por" data-toggle="modal" data-target="#search_por">جستجوی پیشرفته</a>
                </li>

            </ul>


            <form autocomplete="off" method="get" action="{% url 'blog:search_post' %}">
                <div class="autocomplete" style="width:300px;">
                    <input class="form-control mr-sm-2" id="search" type="search" name="search_word"
                           placeholder="...جستجو" required>
                </div>
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">جستجو</button>
                <ul class="list-group mt-1 " style="position:absolute;display: none" id="result_search">


                    <a href="#" id="result_item" class="mb-1"
                       style="text-decoration: none;background-color: white;height: auto;width: 300px;border-radius: 5px;">
                        <li class="list-group-item disabled">

                        </li>
                    </a>
                </ul>
            </form>
        </div>
    </nav>
    {% block message %}
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }} fixed-top"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block slideshow %}

    {% endblock %}
{% endblock %}
<div class="container-fluid d-flex" style="padding-top: 50px;">
    <div class="row justify-content-end w-100 justify-content-between">

        {% block sidemenu %}

            <div class="col-2 collapse show d-md-flex pt-5 pl-0 min-vh-100" id="sidebar"
                 style="position: relative;">
                <ul class="nav flex-column flex-nowrap overflow-hidden"
                    style="position: sticky;top: 0;padding-top: 100px;">
                    <li class="nav-item">
                        <a class="nav-link text-truncate" href="#"><i class="fa fa-list-alt"></i> <span
                                class="d-none d-sm-inline" style="font-size: 25px;">دسته بندی</span></a>
                    </li>
                    {% for category in categories %}
                        {% if not category.parent %}
                            <li class="nav-item heading_sub">
                                <a class="nav-link collapsed text-truncate" href="{{ category.id|string_charp }}"
                                   data-toggle="collapse"
                                   data-target="{{ category.id|string_charp }}" name="main_category"
                                   id="{{ category.pk }}">
                                    {% if category.icon %}
                                        <i class="{{ category.icon }}"></i>
                                    {% endif %}
                                    <span
                                            class="d-none d-sm-inline"
                                            style="font-size: 20px;"><{{ category.name }}</span></a>
                                <div class="collapse" id="{{ category.id|string }}" aria-expanded="false">
                                    <ul class="flex-column pl-2 nav">
                                        {% for sub_cat in categories %}
                                            {% if category.pk == sub_cat.parent.pk %}
                                                <li class="nav-item"><a class="nav-link py-0"
                                                                        href="{% url 'blog:suc_category' sub_cat.pk %}">
                                                    {% if sub_cat.icon %}
                                                        <i class="{{ sub_cat.icon }}"></i>
                                                    {% endif %}
                                                    <span>{{ sub_cat.name }}</span></a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                            </li>

                        {% endif %}
                    {% endfor %}
                    {% block sub_cat %}{% endblock %}

                </ul>
            </div>

        {% endblock %}



        {% block content %}

        {% endblock %}

    </div>
</div>
{% block footer %}
    {% include 'blog/modals/porfitional_search_modal.html' %}

{% endblock %}
<!-- jQuery and JS bundle w/ Popper.js -->

<script src="{% static 'blog/js/cat_menu.js' %}"></script>
<script src="{% static 'blog/js/search.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>
