{% load static %}
<html lang="en">
<head>
    {% block link %}

        <meta charset="UTF-8">
        <title>LMS</title>
        {#            <link rel="stylesheet" href="{% static "blog/css/post.css" %}">#}
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
              integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe"
              crossorigin="anonymous">
    {% endblock %}
    {% block linkcss %}
    {% endblock %}
</head>
<body dir="rtl" style="height: 100vh">

{% block baner %}{% endblock %}
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">خانه <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">جدیدترین پست‌ها</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          دسته بندی ها
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">برنامه نویسی</a>
          <a class="dropdown-item" href="#"> استارتاپ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"> موفقیت</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">درباره ما</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="جستجو..." aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">جستجو</button>
    </form>
  </div>
</nav>

{% endblock %}
<div class="container d-flex justify-content-center">
{% block content %}

{% endblock %}
</div>
{#</div>#}
{% block footer %}


{% endblock %}
<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-40ix5a3dj6/qaC7tfz0Yr+p9fqWLzzAXiwxVLt9dw7UjQzGYw6rWRhFAnRapuQyK" crossorigin="anonymous"></script>

</body>
</html>
