{% extends "blog/base.html" %}
{% block content %}

    <div class="card bg-white text-white">
  <img class="card-img" src="/media/uploads/post_image/1579788524_5378.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>

<div style="height: 200px;"><img src="/media/uploads/post_image/1579788524_5378.jpg" style="object-fit: cover;height: 100%;width: 100%;"></div>
{% endblock %}