{% extends 'blog/base.html' %}
{% load bootstrap %}


{% block content %}
    <div class="col-10 d-flex justify-content-center align-items-center">
        {% if next %}
            {% if user.is_authenticated %}
                <p>شما وارد وبگاه شده بودید. اما اجازه دسترسی به این صفحه را ندارید. لطفا برای ادامه کار با حسابی که
                    اجازه مورد نظر را دارد وارد شوید.</p>
            {% else %}
                <p>لطفا با حساب کاربری خود وارد شوید.</p>
            {% endif %}
        {% endif %}

        <form action="{% url 'login' %}" method="post" class="form" id="form_search">
            {% csrf_token %}

            {{ form|bootstrap }}

            <button type="submit" class="btn btn-primary">ورود</button>

        </form>
    </div>
{% endblock %}